
<script src="/js/temp-indoor_map_sdu.js"></script>
<!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry,directions"></script-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANQd8petvZv_ezZ0dfCZ55TZINe40at_M&libraries=geometry,directions"></script>



<body onload="initMap()" class="nav-bar-space">
    <h1>Kontakt</h1>

    <div id="map"></div>
    <input id=getRouteButton type='button' value='Find vej!'>
</body>
