<link rel="stylesheet" type="text/css" href="/css/specific/spec-event.css">

<div id="event-header" class="col-lg-offset-3 col-lg-11 col-md-offset-3 col-md-11 col-sm-offset-3 col-sm-11 col-xs-offset-3 col-xs-11">
    <img src="/img/images/s7logo.png">
</div>
<ul id="event_info_div"></ul>

<input type="button" class="btn btn-primary" id="eventInfo1" value="Regler">
<input type="button" class="btn btn-primary" id="eventInfo2" value="Huskeliste">
<input type="button" class="btn btn-primary" id="eventInfo3" value="Betaling">
<input type="button" class="btn btn-primary" id="eventInfo4" value="Om S7Lan">

<div class="eventInfo" id="div1">
<h1>Regler</h1>
        <ul>
            <li>Det er forbudt at tvinge sig adgang til andres maskiner, forvolde skade på andres computere eller på anden måde genere andre.</li>
            <li>Dansk lovgivning også gælder ved S7 LAN. Det er derfor forbudt at piratkopiere og distribuere ulovlig software.</li>
            <li>Det er dit eget ansvar at have styr på hvad du deler på netværket.</li>
            <li>Det er dit eget ansvar du ikke får og distribuere virus til andre. Vi anbefaler alle at installere et antivirus-program.</li>
            <!--TODO: Inline CSS-->
            <li><span class="important">Rygning</span>: Det er IKKE tilladt at ryge indenfor, all rygning foregår udendørs.</li>
            <li><span class="important">Alkohol</span>: Det er tilladt at nyde en øl eller lign., men det er <span class="important">IKKE</span> acceptabelt at være beruset/fuld. Vi bestemmer ultimativt hvornår en person er for beruset og skal vises bort, så nyd alkohol med måde.</li>
            <li><span class="important">Bortvisnings-politik</span>: S7LAN er et hyggeligt arrangement og hærværk, chikane af andre og anden upassende/tåbelig opførsel tolereres IKKE. Vi bestemmer ultimativt hvad upassende/tåbelig opførsel er og personer der udviser sådan opførsel og ikke retter sig ind efter eventuelle advarsler/anmærkninger vises bort.</li>
        </ul>
</div>

<div class="eventInfo" id="div2">
<h1>Huskeliste</h1>
        <h3>Til alle jer glemsomme gamere er her en liste så i kan se om i har husket det hele.</h3>
        <ul>
            <li>Computer</li>
            <li>Skærm</li>
            <li>Mus / Musemåtte</li>
            <li>Tastatur</li>
            <li>Strømkabler</li>
            <li>Evt. skærmkabel</li>
            <li>Stikdåser til eget forbrug (mindst 3 meter)</li>
            <li>Netkabel (mindst 5 meter)</li>
            <li>Lader til din mobiltelefon</li>
            <li>Penge til mad, sodavand og slik (Vi tager også MobilePay)</li>
            <li>Drivere til netkort, grafikkort, lydkort osv.</li>
            <li>CD med dit styresystem (Worst case scenario)</li>
            <li>Lampe til når lyset bliver slukket (smart)</li>
            <li>Digital Camera (ja da!)</li>
        </ul>
</div>

<div class="eventInfo" id="div3">
<h1>Betaling</h1>
    <div>
    <p>
    Når du har tilmeldt dig her på siden skal du overføre 50 kr. til denne konto:<br><br>
    Reg: 1551<br>
    Konto: 0010986516<br><br>
    MobilePay: 28 33 45 56<br><br>
    VIGTIGT: Det er vigtigt, at du skriver dit brugernavn som kommentar i overførslen. Betaling skal ske med det samme. Du vil herefter kunne se om vi har registreret din betaling ved at logge ind på siden. Bemærk at der kan gå et par dage fra du overfører penge til vi registrerer din betaling.
    </p>
    </div>
</div>

<div class="eventInfo" id="div4">
<h1>Om S7Lan</h1>
    <div>
    <p>
    Om S7LAN
    Ideen bag S7LAN opstod blandt en mindre gruppe dataloger af årgang 2007. I første omgang var det meningen, at det skulle have været et lille LAN kun for datalogerne på årgang 2007, men efterhånden som planlægningen skred fremad, og crew members kom til, fandt vi ud af at der var potentiale for at lave et langt større arrangement. I efteråret 2008 afholdte vi så vores første store LAN, med 40 deltagere og præmier som XBOX360, eksterne harddiske og iPods. I 2009 gentog vi succesen og det var om muligt endnu sjovere end i 2008.

    Da folk ikke kunne vente et helt år på næste S7LAN afholdte vi i foråret 2010 for første gang S7MiniLAN, et LAN med mindre budget, men med mindst lige så meget hygge! Da pladserne blev revet væk, begyndte det at gå op for os at vi kunne lave noget endnu større til efteråret. Med hjælp fra Naturvidenskabeligt Fakultet og IT-Vest kom et noget større LAN så i støbeskeen. Og med 120 pladser, store præmier, finaler med kommentatorer på storskærme og meget mere, blev S7LAN efteråret 2010 den hidtil største success! Konceptet med et mindre LAN om foråret og et stort om efteråret synes vi var så godt, at det vil holde fast i fremover.

    S7LAN er meget mere end hardcore non-stop Counter Strike, DOTA og World of Warcraft. Det er også en enestående mulighed for at møde andre studerende med samme interesser og der bliver lavet meget andet sjov og hygge end bare at stirre ind i skærmen 45 timer i træk!<br>

    Vi ses til S7LAN :)
    </p>
    </div>
</div>

<div id="loader"><div></div></div>

<script>

    function getEventData(){
        return $.ajax({
            type: 'GET',
            url: "/api/event",
            dataType: "json"
        }).done(function(data){
            EventData = data;
        });
    }

    // event informations
    $.when(getEventData()).done(function(){
        $("#event_info_div").append("<li>Lokation: "+EventData[0].location+"</li>");
        $("#event_info_div").append("<li>Beskrivelse: "+EventData[0].description+"</li>");
        $("#event_info_div").append("<li>Pris: "+EventData[0].price+" DKK</li>");
        $("#event_info_div").append("<li>Der plads til "+EventData[0].maxGuests+" personer</li>");
    });



</script>
<script src="/js/eventInfo.js"></script>