<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-offset-2">
    <div class="col-lg-8 col-md-8 col-sm-8 col-sx-8 content-background">

    <link rel="stylesheet" type="text/css" href="/css/admin.css">



         <div>
             <h1>Gallery</h1>
                <form enctype="multipart/form-data" method="post" action="/">
                 <input type="file"name="upl"/>
                    <input type="submit" name="submit">
                 </form>
          </div>
    </div>
</div>

