<link rel="stylesheet" type="text/css" href="/css/admin.css">



    <div>
        <h1>Gallery</h1>
        <form enctype="multipart/form-data" method="post" action="/">
            <input type="file"name="upl"/>
            <input type="submit" name="submit">
        </form>
    </div>


