<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-offset-3">
    <div class="col-lg-8 col-md-11 col-sm-11 col-sx-11 content-background">

    <link rel="stylesheet" type="text/css" href="/css/admin.css">



         <div>
             <h1>Gallery</h1>
                <form enctype="multipart/form-data" method="post" action="/">
                 <input type="file"name="upl"/>
                    <input type="submit" name="submit">
                 </form>
          </div>
    </div>
</div>

