<body class="nav-bar-space">
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Forside</h1>
        </div>
        <div>
            <p class="lead">Forside features:</p>
            <ul>
                <li>Billedkarusel (evt. med video highlights fra forrige lan events)</li>
                <li>Countdown timer</li>
                <li>Facebook plugin</li>
                <li>Pladsbestilling</li>
                <li>Turneringstilmelding</li>
                <li>Login funktion (alm. brugere kan måske se deres egen data) - Admins kommer til admin side</li>
                <li>Google maps + SDU maps</li>
                <li>Info (sidebar?)
                    <ul>
                        <li>huskeliste</li>
                        <li>om crew</li>
                        <li>betaling</li>
                        <li>om shoppen til eventet</li>
                        <li>regler</li>
                        <li>om S7Lan</li>
                        <li>sponsorer</li>
                        <li>pladsreservering</li>
                        <li>test </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <p class="lead text-primary">
            Links til interne sider:
        </p>
        <ul>
            <li><a href="../temp-views(skal_fjernes)/admin.html">Admin</a></li>
            <li><a href="../temp-views(skal_fjernes)/user.html">User</a></li>
            <li><a href="temp-views(skal_fjernes)/temp-map_index.html">Maps</a></li>
            <li><a href="temp-views(skal_fjernes)/seat_grp.html">Siddegruppe</a></li>
        </ul>
        <!--JIM added line breaks to see links-->
        <br>
        <br>
        <br>
        <!--Sebastian removed two line breaks-->
    </div>
</body>