
<body class="nav-bar-space">
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Forside</h1>
        </div>
        <header id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');">1</div>
                    <div class="carousel-caption">
                        <h2>Caption 1</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the second background image using inline CSS below. -->
                    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');">2</div>
                    <div class="carousel-caption">
                        <h2>Caption 2</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the third background image using inline CSS below. -->
                    <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');">3</div>
                    <div class="carousel-caption">
                        <h2>Caption 3</h2>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>

        </header>
        <div>
            <p class="lead">Forside features:</p>
            <ul>
                <li>Billedkarusel (evt. med video highlights fra forrige lan events)</li>
                <li>Countdown timer</li>
                <li>Facebook plugin</li>
                <li>Pladsbestilling</li>
                <li>Turneringstilmelding</li>
                <li>Login funktion (alm. brugere kan måske se deres egen data) - Admins kommer til admin side</li>
                <li>Google maps + SDU maps</li>
                <li>Info (sidebar?)
                    <ul>
                        <li>huskeliste</li>
                        <li>om crew</li>
                        <li>betaling</li>
                        <li>om shoppen til eventet</li>
                        <li>regler</li>
                        <li>om S7Lan</li>
                        <li>sponsorer</li>
                        <li>pladsreservering</li>
                        <li>test </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <p class="lead text-primary">
            Midlertidlige links til backend sider
        </p>
        <ul>
            <li><a href="users/seatgroups">Siddegruppe</a></li>
            <li><a href="admins/adminpanel">Admin dashboard</a></li>
            <li><a href="users/userpanel">User dashboard</a></li>
        </ul>
        <!--JIM added line breaks to see links-->
        <br>
        <br>
        <br>
        <!--Sebastian removed two line breaks-->
    </div>
</body>