<h1>Gendan Kodeord</h1>

<form id="resetForm" class="form-horizontal" role="form" method="post" action="/passwordreset">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="reset_password" type="text" class="form-control" name="email" value="" placeholder="Indtast email" autofocus>
    </div>

    <input type="submit" name="submit" value="Gendan" class="btn btn-primary btn-lg">
</form>
