<div class="col-lg-offset-2">
    <div class="col-lg-10 content-background">
        <h1>Regler</h1>

        <ul>
            <li>Det er forbudt at tvinge sig adgang til andres maskiner, forvolde skade på andres computere eller på anden måde genere andre.</li>
            <li>Dansk lovgivning også gælder ved S7 LAN. Det er derfor forbudt at piratkopiere og distribuere ulovlig software.</li>
            <li>Det er dit eget ansvar at have styr på hvad du deler på netværket.</li>
            <li>Det er dit eget ansvar du ikke får og distribuere virus til andre. Vi anbefaler alle at installere et antivirus-program.</li>
            <!--TODO: Inline CSS-->
            <li><span class="important">Rygning</span>: Det er IKKE tilladt at ryge indenfor, all rygning foregår udendørs.</li>
            <li><span class="important">Alkohol</span>: Det er tilladt at nyde en øl eller lign., men det er <span class="important">IKKE</span> acceptabelt at være beruset/fuld. Vi bestemmer ultimativt hvornår en person er for beruset og skal vises bort, så nyd alkohol med måde.</li>
            <li><span class="important">Bortvisnings-politik</span>: S7LAN er et hyggeligt arrangement og hærværk, chikane af andre og anden upassende/tåbelig opførsel tolereres IKKE. Vi bestemmer ultimativt hvad upassende/tåbelig opførsel er og personer der udviser sådan opførsel og ikke retter sig ind efter eventuelle advarsler/anmærkninger vises bort.</li>
        </ul>

        <h1>Huskeliste</h1>
        <h3>Til alle jer glemsomme gamere er her en liste så i kan se om i har husket det hele.</h3>

        <ul>
            <li>Computer</li>
            <li>Skærm</li>
            <li>Mus / Musemåtte</li>
            <li>Tastatur</li>
            <li>Strømkabler</li>
            <li>Evt. skærmkabel</li>
            <li>Stikdåser til eget forbrug (mindst 3 meter)</li>
            <li>Netkabel (mindst 5 meter)</li>
            <li>Lader til din mobiltelefon</li>
            <li>Penge til mad, sodavand og slik (Vi tager også MobilePay)</li>
            <li>Drivere til netkort, grafikkort, lydkort osv.</li>
            <li>CD med dit styresystem (Worst case scenario)</li>
            <li>Lampe til når lyset bliver slukket (smart)</li>
            <li>Digital Camera (ja da!)</li>
        </ul>
    </div>
</div>