<div class="nav-bar-space">
    <h1>Regler</h1>
    <p>Nothing here yet</p>

    <ul>
        <li>
            Det er forbudt at tvinge sig adgang til andres maskiner, forvolde skade på andres computere eller på anden måde genere andre.
        </li>
            <br>
        <li>
            Dansk lovgivning også gælder ved S7 LAN. Det er derfor forbudt at piratkopiere og distribuere ulovlig software.
        </li>
            <br>
        <li>
            Det er dit eget ansvar at have styr på hvad du deler på netværket.
        </li>
            <br>
        <li>
            Det er dit eget ansvar du ikke får og distribuere virus til andre. Vi anbefaler alle at installere et antivirus-program.
        </li>
            <br>
        <li>
            <span style="font-weight: bold;">Rygning</span>: Det er IKKE tilladt at ryge indenfor, all rygning foregår udendørs.
        </li>
            <br>
        <li>
            <span style="font-weight: bold;">Alkohol</span>: Det er tilladt at nyde en øl eller lign., men det er <span style="font-weight: bold;">IKKE</span> acceptabelt at være beruset/fuld. Vi bestemmer ultimativt hvornår en person er for beruset og skal vises bort, så nyd alkohol med måde.
        </li>
            <br>
        <li>
            <span style="font-weight: bold;">Bortvisnings-politik</span>: S7LAN er et hyggeligt arrangement og hærværk, chikane af andre og anden upassende/tåbelig opførsel tolereres IKKE. Vi bestemmer ultimativt hvad upassende/tåbelig opførsel er og personer der udviser sådan opførsel og ikke retter sig ind efter eventuelle advarsler/anmærkninger vises bort.
        </li>
    </ul>

        <br>
        <br>

    <h1>Huskeliste</h1>

        <br>

    <h3>Til alle jer glemsomme gamere er her en liste så i kan se om i har husket det hele.</h3>

        <br>

    <ul>

        <li>
            Computer
        </li>
            <br>
        <li>
            Skærm
        </li>
            <br>
        <li>
            Mus / Musemåtte
        </li>
            <br>
        <li>
            Tastatur
        </li>
            <br>
        <li>
            Strømkabler
        </li>
            <br>
        <li>
            Evt. skærmkabel
        </li>
            <br>
        <li>
            Stikdåser til eget forbrug (mindst 3 meter)
        </li>
            <br>
        <li>
            Netkabel (mindst 5 meter)
        </li>
            <br>
        <li>
            Lader til din mobiltelefon
        </li>
            <br>
        <li>
            Penge til mad, sodavand og slik (Vi tager også MobilePay)
        </li>
            <br>
        <li>
            Drivere til netkort, grafikkort, lydkort osv.
        </li>
            <br>
        <li>
            CD med dit styresystem (Worst case scenario)
        </li>
            <br>
        <li>
            Lampe til når lyset bliver slukket (smart)
        </li>
            <br>
        <li>
            Digital Camera (ja da!)
        </li>

    </ul>
            <br>
            <br>
</div>
