<link rel="stylesheet" type="text/css" href="/css/specific/spec-seatmap.css">

<h1>Pladskort</h1>
<hr>

<div>
    <!--TODO: Inline CSS-->
<p>Alle der har købt billet har selvfølgelig en plads, men ønsker du at sidde sammen med nogle bestemte personer (din clan, guild, venner, folk fra dit eget institut osv.) så er der mulighed for at reservere pladser! </p>
</div>

<div class="screen_level"></div>

<canvas id="pladskort-view">
    <p>Din browser understøtter ikke canvas</p>
</canvas>

<div class="pladskort-info"></div>

<div id="loader"><div></div></div>

<script src="/js/seatmap/seatmap-basic.js"></script>
<script src="/js/seatmap/seatmap_view.js"></script>
