<link rel="stylesheet" type="text/css" href="/css/tournaments.css">

<h1 id="tour_head">Turneringer</h1>

<div id="all_tours">
<!--All tournaments are listed here-->
</div>

<div id="loader"><div></div></div>

<script src="/js/tournaments/tournament_view.js"></script>
