

<link href="/css/specific/spec-gallery.css" rel="stylesheet" type="text/css"/>

<h1>Galleri</h1>
<hr>

<div id="image_div"></div>
<div id="loader"><div></div></div>

<script src="/js/gallery/gallery_public.js"></script>