<link rel="stylesheet" type="text/css" href="/css/specific/spec-login.css">
<h1>Gendan kodeord</h1>
<hr>

<form id="resetForm" class="form-horizontal" role="form" method="post" action="/passwordreset">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="reset_password" type="text" class="form-control" name="email" value="" placeholder="Indtast email" autofocus>
    </div>
    <br>
    <input type="submit" name="submit" value="Gendan" class="btn btn-primary btn-lg">
</form>
