<link rel="stylesheet" type="text/css" href="/css/admin.css">

<body class="nav-bar-space">
<div>
    <h1>Admin Dashboard</h1>
    <p>Nothing here yet</p>
    <ul>
        <li><a href="create_seats">Create Seats</a></li>
    </ul>
</div>
</body>
