<link rel="stylesheet" type="text/css" href="/css/specific/spec-dash.css">
<script src="/js/dashboard_info.js"></script>


<h1> Velkommen <b>{{user.username}}</b></h1>
<hr>


<ul class="nav nav-pills nav-stacked">
    <li class="well"><div class="dash-text"><p id="username"></p></div></li>
    <li class="well"><div class="dash-text"><p id="email"></p></div></li>
    <li class="well"><div class="dash-text"><p id="age"></p></div></li>
    <li class="well"><div class="dash-text"><p id="studie"></p></div></li>
    <li class="well"><div class="dash-text"><p id="fakultet"></p></div></li>
    <li class="well"><div class="dash-text"><p id="steam"></p></div></li>
    <li class="well"><div class="dash-text"><p id="bnet"></p></div></li>
</ul>

<div id="loader"><div></div></div>