<div class="col-lg-offset-2">
    <div class="col-lg-10 content-background">
        <div>
            <h1>Create Seats</h1>
            <div class="screen_level"></div>
        </div>

        <button onclick="pen(0)">Gulv</button>
        <button onclick="pen(1)">Væg</button>
        <button onclick="pen(2)">Plads</button>
        <button onclick="pen(3)">Admin</button>
        <button onclick="pen(4)">Kiosk</button>
        <button onclick="mapDel(seatmap.room_width, seatmap.room_height)">Ryd kort</button>

        <canvas id="pladskort-admin">
            <p>Din browser understøtter ikke canvas</p>
        </canvas>

        <button id="new_map_btn" onclick="savemap()">Konverter kort til JSON</button>

        <form id="new_map" accept-charset="utf-8" method="post" action="/admins/create_seats">
            <div class="form-group">
                <input type="text" id="seatName" name="seatName" class="form-control" placeholder="JSON fil" required readonly> <!-- readonly -->
            </div>
            <input type="submit" name="submit" value="Gem kort" class="btn btn-primary">
        </form>
    </div>
</div>


<script src="/js/seatmap-basic.js"></script>
<script src="/js/seatmap_admin.js"></script>

