<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 content-background">
        <div>
            <h1>Create Seats</h1>
            <div class="screen_level"></div>
        </div>


        <div id="ad-seat-blocks">
            <button onclick="expandFrame(2, 0)">- left</button>
            <button onclick="expandFrame(2, 1)">+ left</button>

            <button onclick="expandFrame(0, 0)">- right</button>
            <button onclick="expandFrame(0, 1)">+ right</button>

            <button onclick="expandFrame(3, 0)">- down</button>
            <button onclick="expandFrame(3, 1)">+ down</button>

            <button onclick="expandFrame(1, 0)">- up</button>
            <button onclick="expandFrame(1, 1)">+ up</button>
        </div>

        <div id="ad-seat-blocks">
            <button onclick="pen(0)">Gulv</button>
            <button onclick="pen(1)">Væg</button>
            <button onclick="pen(2)">Plads</button>
            <button onclick="pen(3)">Admin</button>
            <button onclick="pen(4)">Kiosk</button>
            <button onclick="mapDel(seatmap.room_width, seatmap.room_height)">Ryd kort</button>
            <button onclick="buildFrame()">Byg ramme</button>
        </div>


        <canvas id="pladskort-admin">
            <p>Din browser understøtter ikke canvas</p>
        </canvas>

        <button id="new_map_btn" onclick="savemap()">Konverter kort til JSON</button>

        <form id="new_map" accept-charset="utf-8" method="post" action="/admins/create_seats">
            <div class="form-group">
                <input type="text" id="seatName" name="seatName" class="form-control" placeholder="JSON fil" required readonly>
            </div>
            <input type="submit" name="submit" value="Gem kort" class="btn btn-primary">
        </form>
    </div>
</div>


<script src="/js/seatmap-basic.js"></script>
<script src="/js/seatmap_admin.js"></script>

