<style>
    .btn-danger {
        margin-top: 20px;
        margin-bottom: 20px;
    }
   .btn-success{
       /*margin-top: 10px;*/
       margin-bottom: 10px;
   }
    p{
        text-align: center;
        font-style: italic;
    }
</style>

<div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4">
<button type="button" class="btn btn-lg btn-danger" id="reset_event" onclick="resetEvent()">Slet eksisterende LAN</button>
    <p> GIV AGT! Denne knap sletter ALLE turneringer og siddegrupper</p>

</div>

<div class="col-lg-10 col-lg-offset-1">
<form method="POST" action="/admins/events" id="event-form">
    <div class="well">
        <h3>Starttid for næste event</h3>
        <input type="datetime-local" class="form-control" name="event_date" required>
    </div>
    <div class="well">
        <h3>Lokation af event</h3>
        <textarea type="text"  name="event_location" style="min-width: 100%"></textarea>
        <h3>Beskrivelse af eventet</h3>
        <textarea type="text"  name="event_description" style="min-width: 100%"></textarea>
    </div>
    <div class="well">
        <h3>Pris</h3>
        <input type="number" min="0" name="price" required>
        <h3>Max gæster</h3>
        <input type="number" min="0" step="1" name="max_guests" required>
    </div>

    <div class="col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3">
    <input type="submit" id="nuke_event" value="Opret nyt lan" name="submit" class="btn btn-success">
    <p>Det er kun muligt at oprette et nyt lan efter at have slettet det gamle.</p>
    </div>
</form>
</div>

<script src="/js/event/event_nuke.js"></script>