
<h1>Dette event</h1>

<h2>COUNTDOWN TIMER</h2>

<h2>PLACERING AF EVENT</h2>

<h2>BESKRIVELSE AF EVENT</h2>

<h2>ÅBEN/LUK LAN</h2>

<button type="button" class="btn btn-lg btn-primary" id="reset_event" onclick="resetEvent()">Nuke event</button>

<script src="/js/event/event_nuke.js"></script>