
<link href="/css/specific/spec-gallery.css" rel="stylesheet" type="text/css"/>

        <h1>Admin panel - gallery</h1>

        <div>
            <form enctype="multipart/form-data" method="post" action="/admins/gallery">
                <input type="file"name="upl" multiple/>
                <input type="submit" name="submit">
            </form>
        </div>

        <div id="image_div"></div>

        <script src="/js/gallery/gallery_admin.js"></script>
