
        <h1>Admin panel - gallery</h1>

        <div>
            <form enctype="multipart/form-data" method="post" action="/admins/gallery">
                <input type="file"name="upl" multiple/>
                <input type="submit" name="submit">
            </form>
        </div>

        <script>
            $()
        </script>
