<link rel="stylesheet" type ="text/css" href="/css/specific/spec-posts.css">

<h1>Administrér opslag</h1>
<hr>
<h4>Opslag hentes direkte fra Facebook</h4>






<div id="fb_post_list"></div>







<br>

<p>Vælg hvilke opslag der skal vises eller ej - indtast deres ID (stadig i beta)</p>
<form method="post" action="/admins/posts">
    <input class="form-control" type="text" name="posts_id" placeholder="id" required>
    <br>
    <input class="form-control" type="text" name="posts_id" placeholder="id" required>
    <br>
    <input class="form-control" type="text" name="posts_id" placeholder="id" required>
    <br>
    <input class="form-control" min="0" max="100" type="number" name="max_posts" placeholder="max antal">
    <br>
    <p>Skal valgt ID'er vises?</p>
    <input class="form-control" type="checkbox" name="post_direction" checked>
    <br>
    <button class="btn btn-primary" type="submit" value="submit">Gem indstillinger</button>
</form>





<script src="/js/facebook/admin_posts.js"></script>
