
        <h1>Admin panel - posts</h1>
        <p>Nothing here yet</p>


        <form method="post" action="/admins/posts">
            <input class="form-control" type="text" name="posts_id" placeholder="id">
            <br>
            <input class="form-control" type="text" name="posts_id" placeholder="id">
            <br>
            <input class="form-control" type="text" name="posts_id" placeholder="id">
            <br>
            <input class="form-control" type="number" name="max_posts" placeholder="max antal">
            <br>
            <input class="form-control" type="checkbox" name="post_direction" checked>
            <br>
            <button class="btn btn-primary" type="submit" value="submit">submit</button>
        </form>