<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 content-background">
        <h1>Admin panel - posts</h1>
        <p>Nothing here yet</p>
    </div>
</div>

