<link rel="stylesheet" type ="text/css" href="/css/specific/spec-posts.css">

<h1>Administrér opslag</h1>
<hr>
<h4>Opslag hentes direkte fra Facebook</h4>



<div id="fb_post_list"></div>

<script src="/js/facebook/admin_posts.js"></script>
