
<div class="col-lg-offset-2">
    <div class="col-lg-10 content-background">
        <h1>Administrer turneringer</h1>
        <div>
            <button type="button" class="btn btn-lg btn-primary" id="getUsersBtn" data-toggle="modal" data-target="#modal-create"
                    style="margin-top:5px;margin-bottom: 10px; float:right;">Opret turnering
            </button>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>#</th>
                    <th>Navn</th>
                    <th>Start/Slut</th>
                    <th>Beskrivelse</th>
                    <th>Billede</th>
                    <th>Hold</th>
                    <th>Deltagere</th>
                    <th>Præmier</th>
                </tr>
                <tbody id="data_insert">
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal for creating tournaments -->
<div id="modal-create" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Opret turnering</h3>
            </div>
            <div class="modal-body">
                <h4>Indtast oplysninger for en ny turnering</h4>
                <div class="well">
                    <p>Indtast navn for turneringen</p>
                    <input type="text" class="form-control" id="input_name" placeholder="Navn" name="tour_name" style="width: 80%; display: inline">
                    <input type="button" class="btn btn-lg btn-primary" value="Upload billede" onclick="upLoadPic()" style="float:right"/>
                </div>
                <div class="well">
                    <p>Giv en beskrivelse af turneringen</p>
                    <input type="text" class="form-control" id="input_name" placeholder="Beskrivelse" name="tour_info">
                </div>
                <div class="well">
                    <p>Tidspunkt for turneringen</p>
                    <div style="display: inline;">
                        <p>Åbningsdato for tilmelding</p>
                        <input type="datetime-local" name="time1">
                    </div>
                    <p>Data for turneringen</p>
                    <input type="datetime-local" name="time2">
                </div>
                <div class="well">
                    <p>Indstillinger for turnering</p>
                    <input type="checkbox"><label><p>Synlig</p></label><br>
                    <input type="checkbox"><label><p>Åben for tilmelding</p></label>

                </div>
                <div class="well">
                    <p>Præmier</p>
                    <table>
                        <th>1. Plads</th>
                        <th>2. Plads</th>
                        <th>3. Plads</th>
                        <th>4. Plads</th>
                    </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" method="post" class="btn btn-success" data-dismiss="modal">Opret</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for editing information -->
<div id="modal-edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="show-data-header"></h4>
            </div>
            <div class="modal-body" id="show-data-body">
            </div>
            <div class="modal-footer">
                <button type="button" method="post" class="btn btn-danger" data-dismiss="modal">Luk</button>
            </div>
        </div>

    </div>
</div>



<!-- Modal for editing information -->
<div id="modal-edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="edit-data-header"></h4>
            </div>
            <div class="modal-body" id="edit-data-body"></div>
            <div class="modal-footer">
                <button type="button" method="post" class="btn btn-danger" data-dismiss="modal">Annuller</button>
                <button type="button" method="post" class="btn btn-success" data-dismiss="modal">Gem</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/tournaments_admin.js"></script>

<style>
    .true {
        background-color: rgba(0, 255, 0, 0.2);
    }
    .false{
        background-color: rgba(255, 0, 0, 0.2);
    }
</style>