<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 content-background">
        <h1>Administrer turneringer</h1>
        <p style="display:inline; float:right; position: absolute"><a href="/api/tournaments">Se rå data</a></p>
        <div>
            <button type="button" class="btn btn-lg btn-primary" id="getUsersBtn" data-toggle="modal" data-target="#modal-create"
                    style="margin-top:5px;margin-bottom: 10px; float:right;">Opret turnering
            </button>
            <input type="text" class="form-control" id="search-field" onkeyup="sortTournaments()" placeholder="Søg efter turnering.."><br>
            <table class="table table-condensed table-hover" id="tournament-table">
                <tr>
                    <th>#</th>
                    <th>Navn</th>
                    <th>Tid</th>
                    <th>Beskrivelse</th>
                    <th>Billede</th>
                    <th>Hold</th>
                    <th>Deltagere</th>
                    <th>Præmier</th>
                </tr>
                <tbody id="data_insert">
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal for creating tournaments -->
<div id="modal-create" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Opret turnering</h3>
            </div>
            <form id="input_form" method="post" action="/admins/tournaments">
            <div class="modal-body">
                    <h4>Indtast oplysninger for en ny turnering</h4>
                    <div class="well">
                        <b>Indtast navn for turneringen</b><br><br>
                        <input type="text" class="form-control" id="input_name" placeholder="Navn" name="tour_name" style="width: 80%; display: inline">
                        <input type="button" value="Upload billede" name="upload-pic" onclick="upLoadPic()" style="display:inline; float:right;"/>
                    </div>

                    <div class="well">
                        <b>Giv en beskrivelse af turneringen</b><br><br>
                        <input type="text" class="form-control" id="input_name" placeholder="Beskrivelse" name="tour_info">
                    </div>

                <div class="well">
                    <b>Tidspunkt for turneringen</b><br><br>
                    <table class="table table-condensed">
                        <td>Åbningsdato for tilmelding</td>
                        <td>Lukningsdato for tilmelding</td>
                        <td>Dato for turneringsstart</td>
                        <td>Forventet varighed</td>
                        <td>Synlig</td>
                        <tbody>
                            <tr>
                                <td><input type="datetime-local" class="form-control" name="opening_date"></td>
                                <td><input type="datetime-local" class="form-control" name="closing_date"></td>
                                <td><input type="datetime-local" class="form-control" name="start_date"></td>
                                <td><input type="number" class="form-control" placeholder="Tid" step="0.1" name="tour_duration"></td>
                                <td><input type="checkbox" name="visibility" value="true" checked="true"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="well">
                    <b>Holdindstillinger</b><br><br>
                    <table class="table table-condensed">
                        <td>Max antal hold</td>
                        <td>Deltagere pr. hold</td>
                        <tbody>
                            <tr>
                                <td><input type="number" class="form-control" placeholder="Maximum antal" name="team_size"></td>
                                <td><input type="number" min="1" class="form-control" placeholder="Minimum antal" name="team_minsize"></td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td><input type="number" min="1" class="form-control" placeholder="Maximum antal" name="team_maxsize"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                    <div class="well">
                        <b>Præmier</b><td><input class='btn btn-success' type='button' value='Tilføj præmie' onclick='addPrize()' style="float:right; margin-left: 10px":/></td>
                        <td><input class='btn btn-danger' type='button' value='Fjern præmie' onclick='removePrize()' style="float:right"/></td>
                        <br><br>
                        <table class="table table-condensed">
                            <thead id="prize-head">
                            </thead>
                            <tbody>
                                <tr id="prize-name"></tr>
                                <tr id="prize-info"></tr>
                                <tr id="prize-image"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="submit" name="submit" method="post" class="btn btn-success" data-dismiss="modal">Opret<utnput>-->
                    <input type="submit" name="submit" value="Opret" class="btn btn-success btn-lg">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal for editing information -->
<div id="modal-edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="show-data-header"></h4>
            </div>
            <div class="modal-body" id="show-data-body">
            </div>
            <div class="modal-footer">
                <button type="button" method="post" class="btn btn-danger" data-dismiss="modal">Luk</button>
            </div>
        </div>

    </div>
</div>



<!-- Modal for editing information -->
<div id="modal-edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="edit-data-header"></h4>
            </div>
            <div class="modal-body" id="edit-data-body"></div>
            <div class="modal-footer">
                <button type="button" method="post" class="btn btn-danger" data-dismiss="modal">Annuller</button>
                <button type="button" method="post" class="btn btn-success" data-dismiss="modal">Gem</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/tournaments_admin.js"></script>

<style>
    .true {
        background-color: rgba(0, 255, 0, 0.2);
    }
    .false{
        background-color: rgba(255, 0, 0, 0.2);
    }
</style>