
<h1>Administrer turneringer</h1>
<!--<p style="display:inline; float:right; position: absolute"><a href="/api/tournaments">Se rå data</a></p>-->
<div>

<table class="table table-condensed table-hover" id="tournament-table">

    <button type="button" class="btn btn-lg btn-primary" id="getUsersBtn" data-toggle="modal" data-target="#modal-create"
            style="margin-top:5px;margin-bottom: 10px; float:right;">Opret turnering
    </button>
    <input type="text" class="form-control" id="search-field" onkeyup="sortTournaments()" placeholder="Søg efter turnering.."><br>
    <tr>
        <th>#</th>
        <th>Turnering</th>
        <th>Tid</th>
        <th>Beskrivelse</th>
        <th>Billede</th>
        <th>Hold</th>
        <th>Deltagere</th>
        <th>Præmier</th>
        <th>Redigér</th>
    </tr>

    <tbody id="data_insert">
    </tbody>
</table>


<!-- Modal for creating tournaments -->
<div id="modal-create" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Opret turnering</h3>
            </div>
            <form id="input_form" enctype="multipart/form-data" method="post" action="/admins/tournaments">
            <div class="modal-body">
                    <h4>Indtast oplysninger for en ny turnering</h4>
                    <div class="well">
                        <b>Indtast navn for turneringen</b><br><br>
                        <input type="text" class="form-control" maxlength="250" id="input_name" placeholder="Navn" name="tour_name" required>
                        <br>
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">Browse&hellip; <input name="tour_image" type="file" accept="image/*" style="display: none;" required></span>
                            </label>
                            <input type="text" class="form-control" value="Maximum filstørrelse er 130MB" readonly required>
                        </div>
                    </div>
                    <div class="well">
                        <b>Giv en beskrivelse af turneringen</b><br><br>
                        <input type="text" class="form-control" maxlength="1000" id="input_name" placeholder="Beskrivelse" name="tour_info" required>
                    </div>
                <div class="well">
                    <b>Tidspunkt for turneringen</b><br><br>
                    <table class="table table-condensed">
                        <td>Åbningsdato for tilmelding</td>
                        <td>Lukningsdato for tilmelding</td>
                        <td>Dato for turneringsstart</td>
                        <td>Forventet varighed</td>
                        <td>Synlig</td>
                        <tbody>
                            <tr>
                                <td><input type="datetime-local" class="form-control" name="opening_date" required></td>
                                <td><input type="datetime-local" class="form-control" name="closing_date" required></td>
                                <td><input type="datetime-local" class="form-control" name="start_date" required></td>
                                <td><input type="number" class="form-control" maxlength="10" placeholder="Timer" step="0.25" min="0" name="tour_duration" required></td>
                                <td><input type="checkbox" name="visibility" checked="true"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="well">
                    <b>Holdindstillinger</b><br><br>
                    <table class="table table-condensed">
                        <td>Max antal hold</td>
                        <td>Deltagere pr. hold</td>
                        <tbody>
                            <tr>
                                <td><input type="number" min="0" maxlength="10" class="form-control" placeholder="Maximum antal" name="team_size" required></td>
                                <td><input type="number" min="0" maxlength="10" class="form-control" placeholder="Minimum antal" name="team_minsize" required></td>
                            </tr>
                            <tr>
                                <td><br></td>
                                <td><input type="number" min="0" maxlength="10" class="form-control" placeholder="Maximum antal" name="team_maxsize" required></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                    <div class="well">
                        <b>Præmier</b><td><input class='btn btn-success' type='button' value='Tilføj præmie' onclick='addPrize()' style="float:right; margin-left: 10px":/></td>
                        <td><input class='btn btn-danger' type='button' value='Fjern præmie' onclick='removePrize()' style="float:right"/></td>
                        <br><br>
                        <table class="table table-condensed">
                            <thead id="prize-head">
                            </thead>
                            <tbody>
                                <tr id="prize-name"></tr>
                                <tr id="prize-info"></tr>
                                <tr id="prize-image"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="submit" name="submit" method="post" class="btn btn-success" data-dismiss="modal">Opret<utnput>-->
                    <input type="submit" name="submit" value="Opret" class="btn btn-success btn-lg">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal for showing information -->
<div id="modal-edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="show-data-header"></h4>
            </div>
            <div class="modal-body" id="show-data-body">
            </div>
            <div class="modal-footer">
                <button type="button" method="post" class="btn btn-danger" data-dismiss="modal">Luk</button>
            </div>
        </div>

    </div>
</div>



<!-- Modal for editing information -->
<div id="modal-edit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="edit-data-header"></h4>
            </div>
            <div class="modal-body" id="edit-data-body"></div>
            <div class="modal-footer">
                <button type="button" method="post" class="btn btn-danger" data-dismiss="modal">Annuller</button>
                <button type="button" method="post" class="btn btn-success" data-dismiss="modal">Gem</button>
            </div>
        </div>

    </div>
</div>


<script src="/js/tournaments/tournaments_admin.js"></script>

<style>
    .true {
        background-color: rgba(0, 255, 0, 0.2);
    }
    .false{
        background-color: rgba(255, 0, 0, 0.2);
    }
</style>
