
<div class="nav-bar-space">
    <h1>Admin panel - brugere</h1>
    <p>Nothing here yet</p>
</div>

<div class="panel panel-primary" style="width: 80%; margin-left: 250px; margin-top: 200px">
    <!--TODO: INLINE STYLING SKAL FJERNES NÅR LAYOUTET ER DONE-->
    <!-- Default panel contents -->
    <div class="panel-heading">User Administration</div>
    <!-- Table -->
    <form method="post" role="presentation" action="/   users.handlebars">
        <table class="table table-condensed">
        <thead>

        <a class="btn btn-primary btn-lg" href="#" role="button" id="getUsersBtn" style="margin-left: -25px; margin-top: 5px">List Users</a>
        <p><p>Funktioner:</p>
        <p>Knap der ændrer nedenstående tabel data til de data der er i collection. TODO: tilføj søgekriterier (alle users fra SDU odense fx). </p>
        <p>Knap ved mouseover til højre for brugeren hvor man kan slette denne bruger fra databasen</p>
        <p>Ved klik på feltet i tabellen skal man kunne redigere i værdierne</p></>

            <tr>
                <th>Username</th>
                <th>Age</th>
                <th>Email</th>
                <th>Uddannelsessted</th>
                <th>Fakultet</th>
                <th>BattleTag</th>
                <th>SteamID</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <th>test1</th>
                <th>test1</th>
                <th>test1</th>
                <th>test1</th>
                <th>test1</th>
                <th>test1</th>
                <th>test1</th>
            </tr>
        </tbody>
    </table></form>

</div>
