<style>
    .sponsor-bar{
        visibility: hidden;
    }
    .content-center {
        width: 1050px;
    }
</style>

<script src="/js/admin-userview.js"></script>
<div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-3 col-offset-3">
    <div class="col-lg-9 col-md-9 col-sm-9 col-sx-9 content-background">
        <h1>Admin Panel - Brugere</h1>
        <br><br><br>

   <div class="col-lg-12">
        <h2>Brugeradministration</h2>
        <form method="post" role="presentation" action="/users.handlebars">
            <div class="table-responsive" style="background-color: whitesmoke; left: 5px;">
                <table class="table table-condensed table-hover">

                <button type="button" class="btn btn-lg btn-primary" id="togglePaymentBtn"
                        style="margin: 5px 5px 5px 0;" disabled="disabled" >Toggle Payment Status
                </button>
                <button type="button" class="btn btn-lg btn-primary" id="toggleAdminBtn"
                        style="margin: 5px;" disabled="disabled">Toggle Admin
                </button>
                <button type="button" class="btn btn-lg btn-danger" id="removeUserBtn"
                        style="float: right;margin-top:5px;margin-bottom: 5px;" disabled="disabled">Delete Selected
                </button>
                <!--         <p>
                         <p>Funktioner:</p>
                         <p>Knap der ændrer nedenstående tabel data til de data der er i collection. TODO: tilføj søgekriterier
                             (alle
                             users fra SDU odense fx). </p>
                         <p>Knap ved mouseover til højre for brugeren hvor man kan slette denne bruger fra databasen</p>
                         <p>Ved klik på feltet i tabellen skal man kunne redigere i værdierne</p>-->

                <tr class="data_row">
                    <th><input type="checkbox" id="selectAll"></th>
                    <th class='hidden-xs hidden-sm'>#</th>
                    <th>Username</th>
                    <th class='hidden-xs hidden-sm'>Age</th>
                    <th>Email</th>
                    <th class='hidden-xs hidden-sm'>Uddannelsessted</th>
                    <th class='hidden-xs hidden-sm'>Fakultet</th>
                    <th class='hidden-xs hidden-sm'>BattleTag</th>
                    <th class='hidden-xs hidden-sm'>SteamID</th>
                    <th class='hidden-xs hidden-sm'>isAdmin</th>
                    <th>hasPaid</th>
                    <th class='hidden-xs hidden-sm'>isActive</th>
                </tr>


                <tbody id="data_insert">
                </tbody>
            </table></div>
            <br><br><br>
            <br><br><br>
        </form>
    </div>
        <br><br><br><br>
</div>
</div>