table {
    background-color: #d43f3a;
    width: 100%;
    /*border: 2px solid black;*/
}

.fb_tb_left, .fb_tb_right {
    width: 16%;
}

.fb_post {
    background-color: #7a43b6;
}

.fb_comment {
    background-color: #00b3ee;
}

.fb_tb_left img, .fb_tb_right img {
    display: block;
    margin: auto;
    width: 60%;
    border-radius: 25%;
}