/* seatmap */
.pladskort-info {
    background-color: var(--text-);
    margin-bottom: 12px;
    margin-top: 6px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    min-height: 110px;
}

.pladskort-info p {
    color: var(--menu-);
}
