/*** ********** ***/
/** Basic Layout **/
/*** ********** ***/

table {
    width: 100%;
    margin-bottom: 40px;
}

.fb_tb_left {
    width: 90px;
}

.fb_tb_right {
    width: 63px;
}

.fb_creater_pic img, .fb_comment_pic_left img, .fb_comment_pic_right img {
    border: 1px solid var(--menu-);
    border-radius: 25%;
}

.fb_creater_pic img {
    display: block;
    width: 75px;
    margin: 3px;
}

.fb_creater_pic img:hover {
    width: 81px;
    margin: 0;
}

.fb_comment_pic_left img, .fb_comment_pic_right img {
    display: block;
    width: 60px;
}

.fb_comment_pic_left img {
    float: right;
}

.fb_comment_pic_left img:hover, .fb_comment_pic_right img:hover {
    margin: -3px;
    width: 66px;
}

/*** ********* ***/
/** Post Layout **/
/*** ********* ***/

.fb_post {
    background-color: var(--menu-);
    border-radius: 15px;
    padding: 10px;
}

.fb_post p {
    color: var(--text-);
}

.fb_post a {
    text-decoration: underline;
    font-weight: bold;
    border-radius: 6px;
    padding: 2px;
}

.fb_post a:hover {
    background-color: var(--text-);
    color: var(--menu-);
}

/*** ************ ***/
/** Comment Layout **/
/*** ************ ***/

.fb_comment p {
    color: var(--menu-);
}

.fb_comment {
    background-color: var(--text-);
    border-radius: 15px;
    padding: 10px;
    height: 100%;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.fb_comment a {
    color: var(--menu-);
    text-decoration: underline;
    font-weight: bold;
    border-radius: 6px;
    padding: 2px;
}


.fb_comment a:hover {
    background-color: var(--menu-);
    color: var(--menu-);
}

/*** ********** ***/
/** Likes Layout **/
/*** ********** ***/

.fb_likes_container {
    position: relative;
    height: 15px;
}

.fb_likes {
    margin-right: 0;
    height: 0;
    bottom: 55px;
    position: absolute;
    right: 4%;
}

.fb_likes img {
    border-radius: 50%;
    margin: 2px;
    border: 1px solid var(--text-);
    width: 52px;
}

.fb_likes img:hover {
    width: 58px;
    margin: -1px;
}

.fb_likes_plus {
    color: var(--text-);
    background-color: var(--menu-);
    border: 1px solid var(--text-);
    font-size: 150%;
    font-weight: bold;
    border-radius: 50%;
    margin: 2px;
}

.fb_likes_plus:hover {
    margin: 0;
    font-size: 190%;
}

.fb_likes_list {
    display: none;
    margin-left: 20px;
    background-color: var(--menu-);
    width: 72px;
    padding: 10px;
    padding-bottom: 2px;
    margin-top: -15px;
    border-radius: 0 0 40px 40px;
}

.fb_likes_list img {
    width: 52px;
    margin: 2px;
    border-radius: 50%;
    border: 1px solid var(--info-);
}

.fb_likes_list img:hover {
    width: 58px;
    margin: -1px;
}

/*** ************* ***/
/** Date & Name box **/
/*** ************* ***/

.date_box_large {
    height: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 14px;
}

.date_box_large p {
    color: gray;
}

.name_align_left {
    float: left;
}

.date_align_right {
    float: right;
}

.date_box_small {
    height: 58px;
}

.date_box_small_left {
    float: left;
}

.date_box_small_left img {
    border-radius: 25%;
    height: 52px;
    margin: 3px;
}

.date_box_small_left img:hover {
    height: 58px;
    margin: 0;
}

.date_box_small_right {
    float: left;
    margin-left: 10px;

    margin-top: 4px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 58px;
}

.date_box_small_right p {
    color: gray;
    line-height: 14px;
}

/*** ********* ***/
/** Tekst Links **/
/*** ********* ***/

.fb_link_pic img {
    margin: 3px;
    width: 280px;
    max-width: 90%;
    border: 3px solid var(--menu-);
    border-radius: 10px;
}

.fb_link_pic img:hover {
    width: 286px;
    max-width: 92%;
    margin: 0px;
}

.fb_link_pic a {
    padding: 0;
    background-color: none;
}

/*** ************** ***/
/** Picture Carousel **/
/*** ************** ***/

#myPictureCarousel img, #myPictureCarousel a, .carousel-inner, #myPictureCarousel {
    border-radius: 15px;
}

.frontpage_button {
    position: relative;
}

#signup-btn {
    position: absolute;
    bottom: 200px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}

.page-header {
    margin: 0;
}

/*#countdown_container {*/
    /*position: relative;*/
/*}*/

/*#countdown {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 50%;*/
    /*width: 500px;*/
    /*margin-left: -250px;*/
/*}*/
