
/*>>FIRST DRAFT<<*/

@import url(/font-awesome/css/font-awesome.min.css);
body{
    margin-top:20px;
    background: -webkit-linear-gradient(left, #0e3966 , #123e8e, #0e3966 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0e3966 , #123e8e, #0e3966 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0e3966 , #123e8e, #0e3966 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0e3966 , #123e8e, #0e3966 ); /* Standard syntax */
}

.fa-fw {width: 2em;}

/*div {
    border: 1px solid grey;
}*/


#countdown {
    border-radius: 30px;
    background: #3c3c3c;
    padding: 25px;
    width: 350px;
    height: 75px;
    box-shadow: -1px 3px 1px rgba(0, 0, 0, 0.46);
    color: #8fa6bd;
    margin-left: 500px;
    margin-top: 25px;
    position: center;
    font-family: "Agency FB";
    font-size: 20px;
    position:center;
}
.pagecontent{
    border-radius: 30px;
    background: #3c3c3c;
    padding: 25px;
    width: 520px;
    height: 750px;
    box-shadow:-1px 3px 1px rgba(0, 0, 0, 0.46);
    color: #8fa6bd;
    position: center;
    margin-left: 400px;
    margin-top: 25px;
    font-family: "Agency FB";
    font-size: 20px;
}

#myCarousel{
    border-radius: 5px;
    background: #3c3c3c;
    padding: 50px;
    width: 770px;
    height: 420px;
    box-shadow:-1px 3px 1px rgba(0, 0, 0, 0.46);
    color: #8fa6bd;
    top: 20%;
    left: 20%;
    margin-top:20px;

}


.nav-pills{
    border-radius: 10px;
    background: #3c3c3c;
    padding: 15px;
    width: 220px;
    height: 480px;
    box-shadow:-1px 3px 1px rgba(0, 0, 0, 0.46);
    color: #8fa6bd;
    margin-left: -10px;
    margin-top: 60px;
    font-family: "Agency FB";
    font-size: 15px;
    position:fixed;
}
.navbar {
    border-radius: 8px;
    padding: 1px;
    box-shadow:-1px 3px 1px rgba(0, 0, 0, 0.46);
    text-shadow:-1px 3px 1px rgba(0, 0, 0, 0.46);
    background: #3c3c3c;
    font-family: "Agency FB";
    font-size: 19px;
    border-color:#3c3c3c;
    margin-top: 1px;
    margin-right: 1px;
    color:#8fa6bd;
}
.page-header{
    margin-left: 260px;
}
.page-header h1{
    font-family:"Agency FB";
    margin-left: 360px;
    margin-top: 60px;
    border-radius: 10px;
    padding: 20px;
    background: #3c3c3c;
    box-shadow:-1px 3px 1px rgba(0, 0, 0, 0.46);
    text-shadow:-1px 3px 1px rgba(0, 0, 0, 0.46);
    background: #3c3c3c;
    border-color:#3c3c3c;
    width: 110px;
    height: 70px;
    color:#8fa6bd;
}
/*>> STYLING FOR seatgroup<<*/
/*html {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
}*/

.group-wrapper {
    height: 150px;
    background-color: #dffdcf;
    border-radius: 15px;
    overflow: auto;
}

.group-wrapper svg {
    fill: #8F8F8F;
    margin: calc((134px - 96px) / 2);
}


.group-wrapper svg:hover {
    fill: #22FF6D;
    cursor: pointer;
}


#create-div, #group-div {
    float: left;
    padding-top: 1px;
    width: 150px;
    height: 100%;
    text-align: center;
    margin: 5px;
}


#user-div {
    background-color: #c9e5b8;
    border-radius: 15px;
    padding: 10px;
    height: 140px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
}


#user-div svg {
    margin-top: 30;
}


/*>>STYLES FOR TEMPORARY GOOGLE MAP<<*/
html, body {
    height: 100%;
    margin: 0px;
}


#map {
    height: 800px;
    width: 800px;
}


#getRouteButton {
    margin-top: 10px;

}


#left {
    width: 20%;
    height: 100%;
    position: fixed;
    outline: 1px solid;
    background: red;
}


.left-dashboard-menu{
    /*background-color: rgba(29, 1, 29, 0.09);*/
    float: left;
}


.content-center{
    margin: 0px;
}

#pladskort {
    margin-left: 250px;
}