:root{
    --main-:#04202C; /*main*/
    --menu-:#304040; /*footer, menu*/
    --info-:#5B7065; /*info-box*/
    --text-:#C9D1C8; /*text*/
}


/** ****** **/
/* Old Main */
/** ****** **/
/*>> STYLING FOR seatgroup<<*/
@import url(/font-awesome/css/font-awesome.min.css);
/*body{margin-top:20px;}*/
.fa-fw {width: 2em;}



html, body {
    margin:0;
    padding:0;
    height:100%;
    min-width: 300px;
}

#wrapper {
    min-height:100%;
    position:relative;
    border: 0;
}

#footer {
    background-color: orange;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

/** ******* **/
/* Main page */
/** ******* **/
body {
    /*background-color: var(--main-);*/
    background: #304040; /* For browsers that do not support gradients */
    background: #304040; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #04202C, #304040 , #04202C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #04202C, #304040 ,#04202C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #04202C, #304040 ,#04202C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #04202C, #304040  ,#04202C); /* Standard syntax */
}

#footer {
    background-color: var(--menu-);
}

#footer p {
    color: var(--info-);
}


#loader {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#loader div {
    position: absolute;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}



/** ****** **/
/* Top Menu */
/** ****** **/
.top-menu, .top-menu-back {
    background-color: var(--text-);
    border-color: var(--info-);
    width: 100%;
    z-index: 100;
    /*border-radius: 0px 0px 10px 10px;*/
    top: 0;
    border-top: 0;
}

/** ******* **/
/* Dash Menu */
/** ******* **/
.dash-menu {
    background-color: var(--menu-);
    margin-top: -20px;
    border-radius: 0px 0px 16px 16px;
    box-shadow: -1px 3px 1px rgba(0, 0, 0, 1);
}

.dash-menu a {
    color: var(--text-);
}

.sponsor-bar {
    /*border-radius: 5px 5px 5px 5px;*/
    /*background-color: grey;*/
    /*float: bottom;*/

}

.sponsor-bar img {
    width: 100%;
    max-height: 200px;

}

/** *********** **/
/** EVENTET NAV **/
/** *********** **/

#event_info_div li {
    color: var(--text-);
    list-style-type: none;
    text-align: center;
    font-family: "AGENCY FB";
    font-size: 32px;
    text-shadow: 0px 3px 3px black
}

#event-form h3 {
    font-style: italic;
    font-style: italic;
    color: black;
}

#event-header img{
    height:40%;
    width: 40%;
}

.page-header{
    text-align: center;
}
/** ********** **/
/* Content page */
/** ********** **/
.content-background {
    background-color: var(--info-);
    /*max-width: 80%;*/
    margin: auto;
    margin-bottom: 120px;
    /*@GUSTAV: HVIS DU SLETTER DET HER FÅR DU HØVL.*/
    padding: 20px;
    /*@GUSTAV: HVIS DU SLETTER DET HER FÅR DU HØVL.*/
    border-radius: 15px 15px 15px 15px;
    box-shadow: -1px 3px 1px rgba(0, 0, 0, 1);
}

.content-background h1, .content-background h2, .content-background h3, .content-background h4, .content-background h5, .content-background h6 {
    color: var(--text-);
}

.content-background p {
    color: var(--text-);
}

.content-background li {
    color: var(--text-);
    padding: 8px;
}

.content-background .important {
    font-weight: 900;
}

.content-background a {
    color: var(--main-);
}

#username {
    color: var(--main-);
}

#email {
    color: var(--main-);
}

#age {
    color: var(--main-);
}

#studie {
    color: var(--main-);
}

#fakultet {
    color: var(--main-);
}

#steam {
    color: var(--main-);
}

#bnet {
    color: var(--main-);
}
/* seatmap */
.pladskort-info {
    background-color: var(--text-);
    margin-bottom: 12px;
    margin-top: 6px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    min-height: 110px;
}

.pladskort-info p {
    color: var(--menu-);
}


/** ************ **/
/* SEATGROUP PAGE */
/** ************ **/

#seatgroup-table button {
    width: 100%;
    margin-top: 4px;

}