
/*>>GENERAL SYLING FOR CONTENT PAGES<<*/

.nav-bar-space {
    margin-top: 100px;
    margin-left: 350px;
    width: 1000px;
}


/*>> STYLING FOR seatgroup<<*/
html {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
}

.group-wrapper {
    height: 150px;
    background-color: #dffdcf;
    border-radius: 15px;
    overflow: auto;
}

.group-wrapper svg {
    margin-top: 50px;
    fill: #8F8F8F;
    margin: calc((134px - 96px) / 2);
}

.group-wrapper svg:hover {
    fill: #22FF6D;
    cursor: pointer;
}

#create-div, #group-div {
    float: left;
    padding-top: 1px;
    width: 150px;
    height: 100%;
    text-align: center;
    margin: 5px;
}

#user-div {
    background-color: #c9e5b8;
    border-radius: 15px;
    padding: 10px;
    height: 140px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
}

#user-div svg {
    margin-top: 30;
}


/*>>STYLES FOR TEMPORARY GOOGLE MAP<<*/
html, body {
    height: 100%;
    margin: 0px;
}

#map {
    height: 800px;
    width: 800px;
}

#getRouteButton {
    margin-top: 10px;

}