
/*>>GENERAL SYLING FOR CONTENT PAGES<<*/


/*>> STYLING FOR seatgroup<<*/
@import url(/font-awesome/css/font-awesome.min.css);
/*body{margin-top:20px;}*/
.fa-fw {width: 2em;}


html {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
}

.group-wrapper {
    height: 150px;
    background-color: #dffdcf;
    border-radius: 15px;
    overflow: auto;
}

.group-wrapper svg {
    /*margin-top-min: 50px;*/
    fill: #8F8F8F;
    margin: calc((134px - 96px) / 2);
}

.group-wrapper svg:hover {
    fill: #22FF6D;
    cursor: pointer;
}

#create-div, #group-div {
    float: left;
    padding-top: 1px;
    width: 150px;
    height: 100%;
    text-align: center;
    margin: 5px;
}

}
#user-div {
    background-color: #c9e5b8;
    border-radius: 15px;
    padding: 10px;
    height: 140px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
}

#user-div svg {
    margin-top: 30px;
}


/*>>STYLES FOR TEMPORARY GOOGLE MAP<<*/
html, body {
    margin:0;
    padding:0;
    height:100%;
}

#map {
    height: 800px;
    width: 800px;
}

#getRouteButton {
    margin-top: 10px;

}

/*footer styling*/
#wrapper {
    min-height:100%;
    position:relative;
}

.content-center {
    padding-bottom:100px; /* Height of the footer element */
}
#footer {
    background-color: orange;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

.content-background {
    background-color: #f6f6f6;
    margin-bottom: 120px;
    border-radius: 10px;
}

/*end of footer styling*/
