
<h1>Opret turneringshold</h1>
<hr>

<form>
    <div class="well">
        <h3>Giv dit hold et navn</h3>
        <input class="form-control" type="text" maxlength="100" name="t_name" placeholder="Indtast holdnavn" required>
    </div>

    <div class="well">
        <h3>Angiv en adgangskode til holdet</h3>
        <input class="form-control" type="password" maxlength="30" minlength="8" name="t_pass" placeholder="Giv holdet en adgangskode" required>
        <input class="form-control" type="password" maxlength="30" minlength="8" name="t_pass2" placeholder="Skriv adgangskoden igen" required>
    </div>


    <input type="submit" name="submit" value="Opret hold" class="btn btn-success btn-lg">
</form>
