<link rel="stylesheet" type="text/css" href="/css/specific/spec-seatmap.css">

<h1>User panel - Din plads</h1>
<p>Vælg din plads ved at trykke på en tom plads. Hvis du er tilmeldt en siddegruppe, er det lederen af gruppen der skal vælge din plads</p>

<div class="screen_level"></div>

<canvas id="pladskort-pick">
    <p>Din browser understøtter ikke canvas</p>
</canvas>

<div class="pladskort-info"></div>



<script src="/js/seatmap-basic.js"></script>
<script src="/js/seatmap_pickseat.js"></script>