<link rel="stylesheet" type="text/css" href="/css/tournaments.css">

<h1>Turneringer</h1>

<div id="all_tours">
    <!--All tournaments are listed here-->
</div>

<script src="/js/tournaments/tournaments_user.js"></script>
