<link rel="stylesheet" type="text/css" href="/css/user.css">

<body class="nav-bar-space">


<div>
    <h1>Velkommen {{user.username}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><i class="fa fa-crosshairs fa-fw"></i>{{ user.username }}</a></li>
                <li><a href="/users/userinfo"><i class="fa fa-edit fa-fw"></i>Bruger info</a></li>
                <li><a href="/users/getseat"><i class="fa fa-th fa-fw"></i>Din Plads</a></li>
                <li><a href="/users/seatgroups"><i class="fa fa-users fa-fw"></i>Siddegruppe</a></li>
                <li><a href="/users/usertournaments"><i class="fa fa-sitemap fa-fw"></i>Dine Turneringer</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>Log ud</a></li>
            </ul>
        </div>
        <div class="col-md-9 well">
            Panel content here
        </div>
    </div>
</div>

</body>