
<h1>Brugere til nuværende event</h1>

<table class="table table-condensed table-hover">

    <tr class="data_row">
        <th class='hidden-xs hidden-sm hidden-md'>#</th>
        <th>Brugernavn</th>
        <th class='hidden-xs hidden-sm hidden-md'>Fakultet</th>
        <th>BattleTag</th>
        <th>SteamID</th>
        <th>Siddegruppe</th>
        <th>Siddeplads</th>
    </tr>
    <tbody id="data_insert"></tbody>
</table>

<script src="/js/userinfo/user-userview.js"></script>

<div id="loader"><div></div></div>
