<link rel="stylesheet" type="text/css" href="/css/user.css">

<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 content-background">
    <div>
        <h1> Velkommen, {{user.username}}</h1>
    </div>
        <ul id="user-info">



        </ul>
    </div>
</div>

<script>
    function getUserData(){
        return $.ajax({
            type: 'GET',
            url: "/api/localuser",
            dataType: "json"
        }).done(function(data){
            userData = data;
        });
    }

    $.when(getUserData(), document).done(function(){
        console.log(userData);
        $("#user-info").append("<li>Brugernan "+userData.username+"</li>")
        });
</script>