<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-offset-2">
    <div class="col-lg-8 col-md-8 col-sm-8 col-sx-8 content-background">

    <h1>User panel - bruger info</h1>
        <p>Nothing here yet</p>
    </div>
</div>