

/*>> STYLING FOR seating_groups.html <<*/

html {

}


#displayGroups {
    height: 160px;
    background-color: #dffdcf;
    border-radius: 15px;

}

#displayGroups svg:hover {
    fill: #22FF6D;
    cursor: pointer;
}


#displayGroups #createDiv, #groupDiv {
    float: left;
    padding-top: 1px;
    width: 150px;
    height: 100%;
    text-align: center;
    margin: 5px;
}

#displayGroups #userDiv {
    height: 100%;
    margin: 5px;
    float: left;
    text-align: center;
}