

/*>> STYLING FOR seating_groups.html <<*/
html {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
}

.group-wrapper, svg {
    margin-top: 50px;
}

.group-wrapper svg {
    fill: #8F8F8F;
    margin: calc((134px - 96px)/2);
}

.group-wrapper svg:hover {
    fill: #22FF6D;
    cursor: pointer;
}

#create-group {
    height: 150px;
    background-color: #dffdcf;
    border-radius: 15px;
    overflow: auto;
}

#create-div, #group-div {
    float: left;
    padding-top: 1px;
    width: 150px;
    height: 100%;
    text-align: center;
    margin: 5px;
}

#user-div {
    background-color: #c9e5b8;
    border-radius: 15px;
    padding: 10px;
    height: 140px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: center;
}

#user-div svg {
    margin-top: 30;
}

