<title>Error 404 not found</title>
<body>
    <div class="nav-bar-space">
        <h1>Fejl 404</h1>
        <p>Siden blev ikke fundet eller er ikke tilgængelig</p>
        <br>
        <p>Ring for TEK support: 29 25 82 11.<br>Eller skriv en mail til jatoe13@student.sdu.dk</p>
    </div>
</body>